<section>
    <p>Por último, puedes seguirme en mis redes sociales, allí encontrarás información sobre mis proyectos y sabrás en qué estoy trabajando actualmente.</p>
    <ul>
        <li>
            <a href="https://www.youtube.com" target="_blank">
                <fa-icon [icon]="faYoutube" class="icon"></fa-icon>
            </a>
        </li>
        <li>
            <a href="https://github.com/bonzer75" target="_blank">
                <fa-icon [icon]="faGithub" class="icon"></fa-icon>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com" target="_blank">
                <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
            </a>
        </li>
    </ul>

    <p id="copy">© Copyright 2022, Harold Vera</p>
</section>
