section {
  font-size: 30px;
  background-color: #22192B;
  padding: 0px 20px 0px;
}

section br {
  margin-bottom: 100px;
}

section h1{
  font-size: 150%;
  text-align: center;
  margin: 0px 0px 35px 0px;
}

section p {
  text-align: center;
  margin-bottom: 35px;
}

section p a{
  font-weight: 600;
  color: #33ff9c;
} section p a:hover {
  color:rgba(51, 219, 255, 1);
  transition: 250ms ease-in-out;
}

.about {
  display: flex;
  flex-flow: wrap row;
  gap: 50px;
  margin-top: 80px;
  justify-content: center;
}

article {
  border-radius: 10px;
  height: 240px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;

  width: 300px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
} article:hover{
    transform: translateY(-15px);
    transition: 250ms ease-in-out;
}

article h3 {
    font-size: 25px;
    padding-top: 20px;
    flex-direction: column;
}

article h3 {
    height: 100%;
    display: flex;
    margin-bottom: -40px;
    flex-direction: column;
    justify-content: space-between;
}

article p {
    float: left;
    font-size: 25px;
}

.text {
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
