<section>
    <br>
    <article>
        <img alt="harold" src="https://avatars.githubusercontent.com/u/85809507?v=4" class="text">
        <div>
            <h1 class="text">Hola mundo, soy <span>Harold Vera.</span></h1>
            <br>
            <p id="text" class="text">Soy un programador jr de 16 años, bilingue, trabajo en frondend y backend, mis hobbies son los videojuegos y el modding.<br> Y para finalizar, siempre estoy dispuesto a ayudar</p>
            <br>
            <a href="#2"><button>Leer más</button></a>
        </div>
    </article>
    <br> <br>
</section>
